<h2>About Me</h2>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div>
            <label>Name</label>

            <label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
            <input type="text" name="name" id="name" formControlName="name">
          </div>
        <div>
            <label>Email</label>
            <input type="text" name="email" id="email" formControlName="email">
        </div>
        <div>
          <label>Login</label>
          <input type="text"  name="login" id="login" formControlName="login">
        </div>b0231
      <div>
        <label>password</label>
        <input type="password" name="password" id="password" formControlName="password">
    </div>
        <div  class="form-action-buttons">
            <input type="submit" value="Submit">
            <button type="button" (click)="resetUserForm(myForm)" class="btn btn-primary button">Reset</button>
        </div>
    </form>